variables:
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    GIT_DEPTH: 0

stages:
    - Build
    
Image:
    stage: Build
    only:
        - push
    tags:
        - embedded
    script:
        - chmod a+x ./build.sh
        - ./build.sh
    artifacts:
        paths:
            - buildroot/output/images/sdcard.img
        expire_in: 2 hrs

