variables:
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_STRATEGY: clone
    GIT_DEPTH: 0

stages:
    - Build
    
Image:
    stage: Build
    only:
        - push
    tags:
        - embedded
    script:
        - cd buildroot
        - make BR2_EXTERNAL=../ somlabs_visionsom_imx6ull_defconfig
        - make -j 4
    artifacts:
        paths:
            - buildroot/output/images/sdcard.img
        expire_in: 2 hrs

