[submodule "buildroot"]
	path = buildroot
	url = ../embedded-linux/buildroot.git
[submodule "downloads/buildroot-packages"]
	path = downloads/buildroot-packages
	url = ../embedded-linux/buildroot-packages.git
[submodule "downloads/linux"]
	path = downloads/linux
	url = ../embedded-linux/linux-archived.git
[submodule "downloads/uboot"]
	path = downloads/uboot
	url = ../embedded-linux/uboot-archived.git
